<p id="notice"><%= notice %></p>

<h1>Replies</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= User.find(reply.user_id).firstname %></td>
        <td><%= link_to 'Show', reply %></td>
        <td><%= link_to 'Edit', comment_replies_path %></td>
        <td><%= link_to 'Destroy',comment_replies_path(params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reply', new_comment_reply_path %>
