<%= form_with(model: read_post_id, local: true) do |form| %>
  <% if read_post_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(read_post_id.errors.count, "error") %> prohibited this read_post_id from being saved:</h2>

      <ul>
      <% read_post_id.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :read_post_id_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
